/**
 * Used for React Router pages transitions
 *
 * @author Alexandre Moraes | http://github.com/kalvinmoraes
 */

.apps-wrapper
    > div
        position relative

.app-screen
    position absolute
    min-height 100vh
    transform-style preserve-3d

.swap-enter
    transform translateX(100%)
    transition all .4s ease-in
    &.swap-enter-active
        transform translateX(0)

.swap-leave
    opacity 1
    transform translate3d(0, 0, 0)
    transition all .3s ease-in
    &.swap-leave-active
        opacity 0
        transform translate3d(0, 0, -500px)
